<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0.30319" />
	</startup>
	<appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network
                  clientDomain="ho.bushlife.com.au"
                  defaultCredentials="false"
                  enableSsl="false"
                  host="smtp.ho.bushlife.com.au"
                  port="25"
              />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
