<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network
                  clientDomain="bushlife.com.au"
                  defaultCredentials="false"
                  enableSsl="false"
                  host="192.168.20.3"
                  port="25"
              />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
